<?xml version="1.0" encoding="utf-8" ?>
<n_Log xmlns="http://www.n_Log-project.org/schemas/N_Log.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.n_Log-project.org/schemas/N_Log.xsd N_Log.xsd"
      autoReload="true"
      throwExceptions="false"
      internal_LogLevel="Off" internal_LogFile="c:\temp\n_Log-internal._Log">

  <targets>
	  <target xsi:type="File" name="Log" fileName="${basedir}/Log.txt"
            layout="${shortdate} | ${uppercase:${level}} | ${_Logger} | ${message}" />
  </targets>

  <rules>
	  <_Logger name="*" minlevel="Debug" writeTo="Log" />
	  <_Logger name="*" minlevel="Info" writeTo="Log" />
	  <_Logger name="*" minlevel="Warn" writeTo="Log" />
	  <_Logger name="*" minlevel="Error" writeTo="Log" />
	  <_Logger name="*" minlevel="Fatal" writeTo="Log" />
  </rules>
</n_Log>
